.main_form{
    width:50%;
  height: 50%;
  float:left;
  border:1px solid #ebebeb;
  background-color: rgb(152, 231, 245);
  background-size:cover;
  background-position:center;
  border-radius: 1rem;

}